.header{
    background-color: red;
}

.about{
    background-color: blue;
}
.product{
    background-color: green;
}
.service{
    background-color: gray;
}
.service-details-container{
    background-color: black;
}