.header{
    background-color: red;
}
.about{
    background-color: blue;
}
.product{
    background-color: green;
}
.service{
    background-color: gray;
}
.service-details-container{
    background-color: black;
}
.contact ul li{
    font-size: 20px;
}
.address-details-container p{
    font-size: 20px;
}



/* responsive css */

@media only screen and (max-width: 991px){
    .navbar-collapse ul{
        text-align: center;
        background-color: azure;
    }
}


@media only screen and (max-width: 767px){
    .product-container .product-main .card{
        margin: 0 auto;
    }
    
}